body,
html {
  font-family: $pf-font;
  line-height: 1.5;
  font-size: $rem-size;
  color: $body-color;
}

* {
  font-family: $pf-font;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.h1,
h1,
.h2,
h2,
.h3,
h3,
.h4,
h4,
.h5,
h5,
.h6,
h6 {
  color: $h1toh6;
  line-height: 1.2;
}

.h1,
h1 {
  font-weight: $font-sb;
  font-size: rem(78px);
}

.h2,
h2 {
  font-weight: $font-sb;
  font-size: rem(52px);
}

.h3,
h3 {
  font-weight: $font-sb;
  font-size: rem(30px);
}

.h4,
h4 {
  font-weight: $font-sb;
  font-size: rem(24px);
}

.h5,
h5 {
  font-weight: $font-m;
  font-size: rem(21px);
}

.h6,
h6 {
  font-weight: $font-b;
  font-size: rem(16px);
}

p {
  color: $p-color;
  font-weight: $font-l;
  font-size: rem(22px);
}

strong {
  color: $p-color;
  font-weight: $font-eb;
}

a {
  color: $pc;
  font-size: rem(24px);
}

ul,
li {
  list-style: none;
  padding: 0;
  margin: 0;
}

img {
  display: block;
  width: 100%;
  height: auto;
  object-fit: cover;
}
svg {
  width: 100%;
  height: auto;
}

.btn {
  //input
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  background-color: $pc;
  color: $white;
  padding: rem(18px) rem(28px);
  border-radius: 50px;
  text-decoration: none;
  font-weight: $font-m;
  transition: opacity 0.3s ease;
  font-size: rem(22px);
  line-height: 1.2;

  &:hover {
    opacity: 0.9;
    background-color: $btn-hover;
  }

  &:active {
    background: $btn-hover !important;
  }
}

.container,
.container-lg,
.container-md,
.container-sm,
.container-xl,
.container-xxl {
  max-width: rem(calc(1720px));
}

@include max(d-1920) {
  .container,
  .container-lg,
  .container-md,
  .container-sm,
  .container-xl,
  .container-xxl {
    max-width: rem(calc(1720px));
  }
}

@include max(d-1680) {
  .container,
  .container-lg,
  .container-md,
  .container-sm,
  .container-xl,
  .container-xxl {
    max-width: rem(calc(1520px));
  }
}

@include max(d-1400) {
  .container,
  .container-lg,
  .container-md,
  .container-sm,
  .container-xl,
  .container-xxl {
    max-width: calc(1260px);
  }
}

@include max(d-1200) {
  .container,
  .container-lg,
  .container-md,
  .container-sm,
  .container-xl {
    max-width: calc(1040px);
  }
}

@include max(d-1024) {
  .container,
  .container-lg,
  .container-md,
  .container-sm,
  .container-xl {
    max-width: calc(922px);
  }
}

@include max(d-991) {
  .container,
  .container-lg,
  .container-md,
  .container-sm,
  .container-xl {
    max-width: calc(822px);
  }
}

@include max(d-768) {
  .container,
  .container-lg,
  .container-md,
  .container-sm,
  .container-xl {
    max-width: calc(680px);
  }

  // .btn {
  //   padding: rem(20px) rem(40px);
  // }
}

// @include max(d-640){
//     .btn {
//       padding: rem(20px) rem(40px);
//     }
// }

// @include max(d-600){
//     .btn {
//       padding: rem(15px) rem(25px);
//     }
// }

@include max(d-414) {
  
  .h1, h1 {
    font-size: rem(70px);
  }
}

// @include max(d-320) {

//   .btn {
//     padding: rem(10px) rem(20px);
//   }
// }
