@include max(d-1400) {
    html,
    body {
        $rem-size: rem(16px);
        font-size: $rem-size;
    }
}




@include max(d-1680) {
    html,
    body {
        $rem-size: 14px;
        font-size: $rem-size;
    }
}
@include max(d-1440) {
    html,
    body {
        $rem-size: 12px;
        font-size: $rem-size;
    }
}
@include max(d-1400) {
    html,
    body {
        $rem-size: 11px;
        font-size: $rem-size;
    }
}
@include max(d-1280) {
    html,
    body {
        $rem-size: 11px;
        font-size: $rem-size;
    }
}
@include max(d-1024) {
    html,
    body {
        $rem-size: 10px;
        font-size: $rem-size;
    }
}
@include max(d-991) {
    html,
    body {
        $rem-size: 8px;
        font-size: $rem-size;
    }
}

@include max(d-768) {
    html,
    body {
        $rem-size: 10px;
        font-size: $rem-size;
    }
}

@include max(d-640){
    html,
    body {
        $rem-size: 10px;
        font-size: $rem-size;
    }
}

@include max(d-600){
    html,
    body {
        $rem-size: 8px;
        font-size: $rem-size;
    }
}

@include max(d-480) {
    html,
    body {
        $rem-size: 7px;
        font-size: $rem-size;
    }
}

@include max(d-320) {
    html,
    body {
        $rem-size: 6px;
        font-size: $rem-size;
    }
}