// Header
.main-header {
  background: #f5fafb;
  .logo {
    width: rem(302px);
    height: auto;
  }

  .nav-wrapper {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-top: rem(30px);
  }
}

// Sections

// Common Classes in Section
.hidden {
  display: none !important;
  opacity: 0 !important;
}

.gradient-text {
  background: linear-gradient(to right, #0e2365, #337acc, #11c6ff);
  -webkit-background-clip: text; /* Chrome, Safari */
  background-clip: text;
  -webkit-text-fill-color: transparent;
  background-size: 100%;
}

.prev-btn,
.next-btn {
  background: $pc;
  border-radius: 50%;
  width: rem(60px);
  height: rem(60px);
  padding: rem(20px);
  display: flex;
  justify-content: center;
  align-items: center;
}

.hero-section {
  background: radial-gradient(circle at top, #f0f7ff 0%, #ffffff 100%);
  position: relative;

  .hero-container {
    width: 100%;
    position: absolute;
    left:0;
    top: 10%;
    z-index: 3;
  }

  .hero-content {
    text-align: center;
    // left: 50%;
    // transform: translate(-50%, -200%);
    
    .hero-title {
      margin-bottom: rem(40px);
    }
  }

  .hero-dashboard-mockup {
    position: relative;
    margin: 0 auto;
    max-width: rem(1560px);
    max-height: rem(1260px); 
  }
}

.challenges-section {
  padding-block: rem(60px) rem(120px);
  .container {
    position: relative;

    .section-header {
      p {
        width: 50%;
      }
    }

    .challenges-path-container {
      margin-top: rem(-150px);
      position: relative;
    }

    .action-btn {
      display: flex;
      position: absolute;
      right: rem(12px);
      bottom: rem(10px);
      gap: rem(20px);

      .next-btn {
        background: white;
        border: 1px solid $pc;
      }
    }
  }
}

.ai-engagement-section {
  background: linear-gradient(to right, $pc-light, white);
  padding-bottom: rem(82px);

  .section-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-top: rem(80px);
    padding-bottom: rem(59px);
    width: 100%;

    a {
      font-size: rem(22px);
    }
  }

  .engagement-slider-wrapper {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 60px;
    max-width: rem(1070px);
    margin-inline: auto;
    padding-bottom: rem(82px);
    min-height: 450px;

    .slick-list {
      margin: 0;
      padding: 0;
    }

    .slick-track {
      display: flex;
      align-items: center;
      margin-left: 0;
    }

    .slick-slide {
      margin: 0;
      padding: 0;
    }
  }

  .engagement-card {
    width: rem(1070px);
    height: rem(440px);
    border: 1px solid $pc;
    border-radius: 10px;
    background: white;
    box-shadow: 0 10px 30px rgba(0, 0, 0, 0.03);
    display: flex;
    flex-shrink: 0;
    transition: all 1s ease;
    transform: translateY(10px);

    &.active {
      opacity: 1;
      transform: translateY(0);
    }

    .card-left {
      h3 {
        font-size: rem(30px);
        margin-bottom: rem(30px);
        font-weight: 200;
      }

      .check-list {
        list-style: none;
        li {
          position: relative;
          padding-left: rem(26px);
          margin-bottom: rem(24px);
          font-size: rem(20px);
          color: rgb(81, 80, 80);

          &::before {
            content: "✓";
            position: absolute;
            left: 0;
            color: black;
            font-weight: lighter;
          }
        }
      }
    }
  }

  .one {
    gap: rem(89px);
    padding: rem(63px) rem(60px) 0 rem(60px);
    align-items: center;
    justify-content: center;

    .card-left {
      max-width: rem(361px);
      h3 {
        margin-bottom: rem(45px);
      }
    }

    .card-right {
      align-self: end;
      flex: 1;
      display: flex;
      justify-content: flex-end;
      object-fit: cover;
      max-width: fit-content;
      border: 1px solid rgb(125, 124, 124);
      border-radius: 50px 50px 0px 0px;
      border-bottom: none;
      padding: rem(50px);
    }
  }

  .two {
    padding: rem(24px) rem(120px);
    gap: rem(52px);

    .card-left {
      width: rem(385px);
      padding-top: rem(55px);
    }

    .card-right {
      padding: 0;
    }
  }

  .three {
    align-items: center;
    gap: rem(128px);
    padding-block: rem(36px);

    .card-left {
      width: rem(319px);
      margin-left: rem(127px);

      h3 {
        margin-bottom: rem(61px);
      }
    }

    .card-right {
      max-width: rem(505px);
      max-height: rem(367px);
    }
  }

  .four {
    align-items: center;
    justify-content: center;
    gap: rem(75px);
    padding-top: rem(64px);

    .card-right {
      width: rem(396px);
      height: rem(374px);
    }
  }

  .slider-arrow {
    width: rem(40px);
    height: rem(40px);
    background: $pc;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    flex-shrink: 0;

    img {
      width: rem(10px);
      height: rem(18px);
      filter: brightness(0) invert(1);
    }
  }
}

.feature-grid-section {
  background-color: #fff;
  padding: rem(120px) 0 rem(60px);

  .container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    position: relative;

    .section-header {
      position: relative;
      max-width: rem(880px);
      text-align: center;
      margin-bottom: rem(60px);
      padding: 0 rem(40px);

      p {
        padding: 0 rem(10px);
      }
    }

    .feature-grid {
      .row {
        display: flex;
        justify-content: center;
        gap: rem(16px);
        margin: rem(16px);
      }
    }

    .feature-card {
      max-width: rem(220px);
      background: #f0f9ff;
      padding: rem(30px) rem(20px);
      border-radius: 12px;
      transition:
        transform 0.3s ease,
        box-shadow 0.3s ease;
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
      border: 1px solid transparent;
      text-align: center;

      &:hover {
        transform: translateY(-5px);
        background: #fff;
        border-color: rgba($pc, 0.2);
        box-shadow: 0 10px 30px rgba(0, 0, 0, 0.05);
      }

      .icon-box {
        width: rem(50px);
        height: rem(50px);
        margin-bottom: rem(15px);
        display: flex;
        align-items: center;
        justify-content: center;
      }

      p {
        font-weight: 500;
        font-size: rem(15px);
        margin: 0;
      }
    }

    .section-footer {
      margin-top: rem(40px);
    }
  }
}

.success-section {
  padding: rem(60px) rem(210px);
  background-color: #fff;
  position: relative;
  width: 100%;

  .container {
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 20px;

    .section-header {
      position: relative;
    }

    .slider-container {
      display: flex;
      justify-content: center;
      align-items: center;
      gap: 50px;
      width: rem(1500px);

      .success-slider {
        display: flex;
        align-items: center;
        gap: 23px;
        width: 100%;

        .slick-arrow {
          flex-shrink: 0;
        }
      }
    }
  }

  .success-card {
    background: #002142;
    border-radius: 24px;
    padding: rem(43px) rem(48px);
    color: #fff;
    display: flex;
    justify-content: center;
    overflow: hidden;
    width: rem(1285px);

    .card-content {
      display: flex;
      gap: rem(50px);
      align-items: center;
      justify-content: center;
      width: rem(1120px);

      .stats-visual {
        flex: 0 0 40%;
        width: rem(455px);
        height: rem(510px);

        img {
          border-radius: 12px;
        }
      }

      .stats-info {
        flex: 0 0 60%;
        text-align: start;
        display: flex;
        flex-direction: column;
        align-items: start;
        gap: rem(28px) 0;
        width: rem(685px);

        h3 {
          font-size: rem(28px);
          line-height: 1.4;
          font-weight: 500;
          color: white;
        }

        .stats-grid {
          display: grid;
          grid-template-columns: repeat(2, 1fr);
          gap: rem(45px);
          justify-content: start;
          width: 100%;

          .stat-item {
            width: rem(182px);
            p {
              color: #94a3b8;
              margin-block-start: 0;
              margin-block-end: 0;
              font-size: rem(18px);
              line-height: 1;
            }

            span {
              font-size: rem(22px);
              font-weight: bolder;
              color: white;
              letter-spacing: 1px;
            }

            .number {
              display: block;
              font-size: rem(52px);
              font-weight: 900;
              color: #48d6d2;
            }
          }
        }

        a {
          font-size: rem(19px);
          font-weight: 400;
          color: $pc;
          text-decoration: underline;
          margin-top: auto;
        }
      }
    }
  }
}

.use-cases-section {
  padding: rem(60px) 0;
  background-color: #f8fbff;
  text-align: center;

  .container {
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: rem(40px);

    .section-header {
      position: relative;

      p {
        color: #464646;
      }
    }

    .use-cases-wrapper {
      display: flex;
      gap: rem(40px);
      max-width: rem(1200px);
      // max-height: rem(560px);

      .use-case-tabs {
        flex: 1;
        list-style: none;
        display: flex;
        flex-direction: column;
        gap: rem(10px);

        .tab-item {
          padding: rem(20px) rem(25px);
          background: #e9eff8;
          border-radius: 12px;
          cursor: pointer;
          font-weight: 500;
          transition: all 0.3s ease;
          border: 1px solid #e2e8f0;
          display: flex;
          align-items: center;
          gap: rem(15px);
          color: #0e2365;

          .icon {
            width: rem(40px);
            height: rem(40px);
          }

          &.active {
            // background: linear-gradient(to bottom, #5890d1, #b3c3d4);
            background: #5890d1;
            color: #fff;
            border-color: $pc;
            box-shadow: 0 10px 20px rgba($pc, 0.2);
          }

          &:hover:not(.active) {
            border-color: $pc;
            transform: translateX(5px);
          }
        }
      }

      .use-case-display {
        flex: 1.2;
        width: rem(635px);
        height: rem(556px);
        .tab-content {
          background: lightgray;
          border-radius: 20px;
          opacity: 0;
          display: none;
          padding: rem(20px);
          object-fit: contain;

          &.active {
            display: block;
            opacity: 1;
            animation: fadeIn 0.5s ease-in;
          }
        }
      }
    }
  }
}

// Footer
.main-footer {
  padding-top: rem(100px);
  background-color: #fff;

  .container {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .lead-capture-card {
    background: linear-gradient(to right, #0f053d, #000011, #00000f);
    border-radius: 30px;
    padding: rem(30px) rem(60px);
    color: #fff;
    margin-bottom: rem(60px);
    position: relative;
    overflow: hidden;
    max-width: rem(1500px);

    .card-grid {
      display: grid;
      grid-template-columns: 1fr 1fr;
      gap: rem(60px);
      align-items: center;

      .ai-visual {
        padding: rem(30px);
      }

      .card-form {
        form {
          display: flex;
          flex-direction: column;
          align-items: start;
          gap: 20px;
        }

        form > button {
          font-size: rem(22px);
          margin-top: rem(20px);
          padding: rem(12px) rem(100px);
        }

        .form-header {
          position: relative;

          h2 {
            background: linear-gradient(
              to right,
              #ffffff 5%,
              #337acc 60%,
              #11c6ff
            );
            -webkit-background-clip: text; /* Chrome, Safari */
            background-clip: text;
            -webkit-text-fill-color: transparent;
            background-size: 100%;
            font-size: rem(52px);
          }
        }
      }
    }

    h2 {
      margin-bottom: rem(30px);
      color: white;
    }
  }

  .form-group {
    width: 100%;
    input,
    textarea {
      width: 70%;
      padding: rem(15px) rem(20px);
      border-radius: 8px;
      border: 1px solid rgba(255, 255, 255, 0.1);
      background: #fff;
      color: rgb(53, 53, 53);

      &:focus {
        outline: none;
        border-color: $pc;
      }
    }

    textarea {
      height: 100px;
      resize: none;
    }
  }

  .footer-bottom {
    height: rem(90px);
    border-top: 1px solid #e2e8f0;
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: $pc-muted;
    background: black;

    p {
      font-size: rem(20px);
      color: white;
      margin: auto;
    }
  }
}
